openai
langchain
langchain-community
streamlit
chromadb
faiss-cpu
redis
tiktoken
fitz
frontend
elevenlabs
matplotlib
python-docx
stability_sdk
streamlit_image_select
tools
jieba
mysql-connector-python
unstructured
PyMuPDF